@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Dropdown-option {
  @apply px-3 py-2 rounded-xl text-left transition-colors;
}

.Dropdown-option:hover {
  @apply bg-gray-100;
}

.Dropdown-option.is-selected {
  @apply bg-gray-200;
}

.menu-no-radius,
.menu-no-radius * {
  border-radius: 0 !important;
}

.menu-no-radius .react-dropdown__option--selected,
.menu-no-radius .react-dropdown__option:focus,
.menu-no-radius .react-dropdown__option:active,
.menu-no-radius .dropdown-item.selected,
.menu-no-radius .dropdown-item:focus {
  border-radius: 0 !important;
}

.menu-no-radius [aria-selected="true"] {
  border-radius: 0 !important;
}
